@import './utils/mixins.scss';
@import './utils/animations.scss';
@import './utils/colors.scss';

@import './pagesetup.scss';
@import './components/grid.scss';
@import './components/header.scss';
@import './components/controls.scss';

#slot-machine {
  background-color: nth($offwhite, 1);
  height: -webkit-fill-available;
  @media only screen and (min-width: 768px) {
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
  }
  width: 100%;
  max-width: 600px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @include box-3d($blueblack, 15);
}

.pop-up {
  animation-name: 'fade';
  animation-duration: 0.5s;
  border-radius: 5px;
  background-color: white;
  top: 30%;
  left: 10%;
  @media screen and (min-width: 768px) {
    left: calc(50% - 200px);
  }
  position: absolute;
  z-index: 10;
  width: 80%;
  max-width: 400px;
  left: 10%;
  text-align: center;
  .button-wrapper {
    input {
      padding: 10px;
      color: white;
      flex: 1;
      &:disabled {
        filter: brightness(70%);
      }
    }
    display: flex;
  }
}

/******** controls *********/

.win-display {
  height: 10px;
}
